body{
background-color: rgb(48, 48, 48) 
}

/* Nav bar */
.navbuttons{
border-style: none;
display: flex;
justify-content: center;
text-decoration: underline;
text-decoration-color: rgb(243, 214, 48)


}
button{
    border-style: none;
    background-color: rgb(48, 48, 48);
    color: aliceblue;
   padding: 25px;
   font-size: 35px;
}
/* Nav bar END */

/* Main screen */
#hjembillede{ 
    background-image: url(IntroPic.png);
    
}
#tidbutton{
background-color: rgb(243, 214, 48);
border-radius: 20px;
border-color: rgb(255, 213, 106);
border-style: groove;
}

/* Main screen END */

/* Footer */
footer{
    display: flex;
    justify-content: space-evenly;
}
p{
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
    
}
li{
    cursor: pointer;
}

/* footer end */