body {
    background-color: #3A3A3A;
    margin: 0;
}




/* Nav bar */
.navbar {
    display: flex;
    align-items: center;
    background-color: #3A3A3A;
    padding: 16px 40px;

}

.logo img {
    width: 40px;
    height: auto;
}

.navbuttons {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding-left: 300px;
}

.navbuttons button {
    border: none;
    background: none;
    color: white;
    padding: 10px;
    font-size: 25px;
    font-family: "Rajdhani", sans-serif;
    letter-spacing: 0.12em;
    cursor: pointer;
}

/* Nav bar END */

/* Main screen */
#hjembillede {
    background-image: url(IntroPic.png);
    display: flex;
    flex-direction: column;
    background-size: cover;
    min-height: 450px;
    justify-content: flex-end;
    align-items: flex-start;
}

#tidbutton {
    background-color: #FFCC00;
    border-radius: 20px;
    border: 2px solid;
    border-color: #FFDE5C;
    width: 300px;
    height: 80px;
    color: black;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: "Montserrat";
    margin-left: 40px;
    cursor: pointer;
}
/* Kalender */
#terminer{
    margin: 40px;
}
#dato{
    color: #000000;
    background-color: #FFCC00;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.calendar {
  position: relative;
  width: 300px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 50px rgba(#000, 0.5);
  border-radius: 8px;
  overflow: hidden;}

.calendar__date {
  padding: 20px;
  display: grid;
  grid-template-columns:
  repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px;
  box-sizing: border-box;
}
.calendar__day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-weight: 600;
background-color:#3A3A3A;
color: #FFCC00;}

  .calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 25px;
  background-color: #FFCC00;
  color: #262626;}
/* Kalender END */

/* Min service */

.serviceline {
width: 300px;
height: 10px;
}

.Serviceheader {
    display:flex ;
align-items: center;    
gap: 50px;
}
#minservice {
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    background-image: url(ServicePic.png);
    min-height: 500px;
}

#Service {
    display: flex;
    justify-content: center;
}

#list {
    display: flex;
    justify-content: space-evenly;
}

.Servicelist {
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

.Servicelist2 {
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Rajdhani", sans-serif;
    letter-spacing: 0.12em;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

#serviceoption {
    font-family: "Montserrat", serif;
    letter-spacing: 0.12em;
    color: white;
}

#Servicelist2 {
    display: flex;
}

/* Min service END */

/* Anmeldeser START */

.anmeldelsertext h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Rajdhani", sans-serif;
    letter-spacing: 0.12em;
    color: #000000;
    font-size: 30px;
    background-color: #FFDE5C;
    padding: 10px;
    margin: 0;

}

.anmeldelser {
    display: flex;
    flex-direction: column;
}

.anmelddetail {
    border-bottom: solid #FFDE5C;
    border-width: 60px;
    background-color: white;
    height: 150px;
    display: flex;
    align-items: center;
}

.slider-container {
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", serif;
    border-width: 50px;
    gap: 60px;
    animation: slide 10s linear infinite;
}

.slider p {
    display: inline-block;
    white-space: nowrap;
}

@keyframes slide {

    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }

}

/* Anmeldeser END */



/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    font-family: "Rajdhani", sans-serif;
    letter-spacing: 0.12em;
    color: #FFCC00;
}

#telefonnr {
    font-family: "Montserrat", serif;
    letter-spacing: 0.12em;
    color: white;
}

p {
    display: flex;
    justify-content: center;
}

#navservice {
    list-style-type: none;
    font-family: "Montserrat", serif;
    letter-spacing: 0.12em;
    color: white;
}

#ft1 {
    cursor: pointer;
    font-family: "Montserrat", serif;
    letter-spacing: 0.12em;
    color: white;

}

#ft2 {
    cursor: pointer;
    font-family: "Montserrat", serif;
    letter-spacing: 0.12em;
    color: white;
}

li {
    font-family: "Montserrat", serif;
    letter-spacing: 0.12em;
    color: white;
}
#footermig{
    cursor: pointer;
}
/* footer end */