body{
background-color:#3A3A3A;
margin: 0;
}

/* Nav bar */
.navbar {
    display: flex;
    align-items: center;
    background-color: #3A3A3A;
    padding: 16px 40px;
    
}

.logo img {
    width: 40px;
    height: auto;
}

.navbuttons{
display: flex;
gap: 50px;
justify-content: space-between;
padding-left: 300px;
}

.navbuttons button{
 border: none;
 background: none;
 color: white;
 padding: 10px;
 font-size: 25px;
 font-family: "Rajdhani", sans-serif;
 letter-spacing: 0.12em;
}

/* Nav bar END */

/* Main screen */
#hjembillede{ 
    background-image: url(IntroPic.png);
    display: flex;
    flex-direction: column;
    background-size: cover;
    min-height: 450px;
justify-content: flex-end;    
align-items: flex-start;
}

#tidbutton{
background-color:#FFCC00;
border-radius: 20px;
border: 2px solid;
border-color: #FFDE5C;
width: 300px;
height: 80px;
color: black;
margin-bottom: 30px;
display: flex;
align-items: center;
justify-content: center;
font-size: 30px;
font-family: "Montserrat";
margin-left: 40px;
}

/* Main screen END */

/* Footer */
footer{
    display: flex;
    justify-content: space-evenly;
}
p{
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
    
}
li{
    cursor: pointer;
}

/* footer end */